<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnStrLocal" value="Server=localhost,1433; Database=ieadmaua2;User ID=sa;Password=8k3W2C2BVzAW9p;Trusted_Connection=False" />
    <add key="ConnStrAzure" value="Server=tcp:q2bbdo4cxr.database.windows.net,1433;Database=ieadmaua;User ID=aschurchmanager@q2bbdo4cxr;Password=L0ngh0rn;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="AzureStoragePrd.AccountName" value="ieadmaua" />
    <add key="AzureStoragePrd.AccountKey" value="9eLe5hqogJ0Zm+f+zPFUAeyN6QxyQO5TDlHqSNqKsToLmx/SUKN31v/TQv9I5iFQhd2fVH2xfLyJyzfe7Do6Dg==" />
    <add key="AzureStoragePrd.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ieadmaua;AccountKey=9eLe5hqogJ0Zm+f+zPFUAeyN6QxyQO5TDlHqSNqKsToLmx/SUKN31v/TQv9I5iFQhd2fVH2xfLyJyzfe7Do6Dg==;EndpointSuffix=core.windows.net" />
    <add key="AzureStorageHml.AccountName" value="architectsystems" />
    <add key="AzureStorageHml.AccountKey" value="wefWhdBxxMhr4e7mTqRN+Iprs8FwC7OUrjGp4R6GrQcUk7blpglBtCn6sCdY4b5TB/m3Px4hK/BYaQj7NrrRLQ==" />
    <add key="AzureStorageHml.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=architectsystems;AccountKey=wefWhdBxxMhr4e7mTqRN+Iprs8FwC7OUrjGp4R6GrQcUk7blpglBtCn6sCdY4b5TB/m3Px4hK/BYaQj7NrrRLQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>