@model ASChurchManager.Web.Areas.Admin.ViewModels.Curso.CursoVM

@{
    ViewBag.Title = "CursoVM_Details";
}


<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        Curso - Detalhes
                    </h3>
                </div>
                <div class="box-body">
                    @await Html.PartialAsync("_Curso", Model)
                </div>
                <p style="clear: both" />
                <div class="box-footer">
                    <a href="javascript:void(0)" id="lnkExcluir" class="btn btn-danger" data-cursoid="@Model.Id">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
                    </a>
                    <a href="@Url.Action("Edit", "Curso", new { id = Model.Id })" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
                    </a>
                    <a href="@Url.Action("Index", "Curso")" class="btn btn-default">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var urlExcluir = "@Url.Action("Delete", "Curso", new { Area = "Admin" })"
</script>

@section scripts{
    <script type="text/javascript" src="~/js/curso.min.js"></script>
}