@model ASChurchManager.Web.Areas.Secretaria.ViewModels.Casamento.CasamentoViewModel

@{
    ViewBag.Title = "Casamento_Create";
}

<style type="text/css">
    .alinhar {
        margin-top: 5px;
    }

    .checkbox {
        margin-top: 25px;
    }
</style>


@using (Html.BeginForm("Create", "Casamento", FormMethod.Post, new { id = "frmCasamento", enctype = "multipart/form-data" }))
{
    <section class="content">
        <div class="row" />
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        Casamento - Inclusão
                    </h3>
                </div>
                <div class="box-body">
                    @await Html.PartialAsync("_Casamento", Model)
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary" id="btnSalvar">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Salvar
                    </button>
                    <a href="@Url.Action("Index", "Casamento")" class="btn btn-default">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Voltar
                    </a>
                </div>
            </div>
        </div>
    </section>
}

@section scripts{
    <script type="text/javascript" src="~/js/casamento.min.js"></script>
}